*{
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
body{
    height: 100vh;
    width: 100%;
    background-color: #f8f9fa;
    overflow-x: hidden;
}

header{
    display: flex;
    background-color: #f4fcf2;
    height: 5vw;
    min-height: 70px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
/* Adicionei a imagem de fundo do article e tbm coloquei um testo */
article{
    background-color: rgba(128, 128, 128, 0);
    height: 43.5vw; 
    display: flex;
    justify-content: center;
    align-items: center;
}
article img{
    width: 100%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
article div{
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    height: 90%;
    width: 90%;

}
article > div > h1{
    font-size: 20vh;
    color: rgb(16, 80, 16);
    font-family: Arial, Helvetica, sans-serif;
}
main{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
}


.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
}

.menu{
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    padding-right: 20px;
}

.image{
    border-radius: 10vh;
    height: 140%;

}


.btn{
    cursor: pointer;
    width: 9%;
    height: 50%;
    text-align: center;
    justify-content: center;
    display: flex;
    border-radius: 1vh;
    align-items: center;
    background-color: #0c6809;
}
.btn > p{
    color: rgb(243, 198, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
}
.containers{
    width: 95%;
    height: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.container1, .container2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 100px;
    width: 95%;
    height: 50%;
}

.container1, .container2 p{
    font-size: 1.3vw;
}

.text{
    width: 30%;
    height: 40%;    
}

.box{
    width: 25%;
    height: 80%;
}

.box img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.quadros{
    width: 95%;
    height: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.quadro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    height: 100%;
    gap: 20px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
j
.quadro > img{
    height: 50vh;
    width: 55vh;
}
.quadro > h1{
    font-size: 3vh;
    word-wrap: break-word;
    padding: 0 3vh;
    flex-wrap: wrap;
}



.circle{
    background-color: #000;
    width: 40%;
    min-width: 60px;
    /* min-height: 70px; */
    height: 30%;
    border-radius: 50%;
}

.texto{
    gap: 20px;
    background-color: #f5f3f4;
    width: 95%;
    height: 50%;
}


.grafico{
    display: flex;
    justify-content: center;
    width: 20%;
    height: 5vh;

}

#chartdiv {
    width: 95%;
    height: 30vw;
  }

  .footer ul{
    list-style: none;
}

.footer{
    background-color: #080914;
    color: #fff;
}

.footer p{
    color: #ccc;
    max-width: 25em;
    font-size: 0.9em;
    line-height: 23px;
}

.footer a{
    color: #fff;
    text-decoration: none;
}


.footer .container2{
    width: 100%;
    display: flex;
    margin: 0;
    padding: 2em;
    justify-content: space-between;
    gap: 2em;
}

.brand{
    display: block;
    font-size: 1.8em;
    font-weight: 600;
    margin-bottom: 1em;
}

.footer .menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 14px;
}

.footer .menu li{
    text-align: center;
    margin: 0 0.7em 0.7em 0;
    display: inline-block;
}

.footer .menu a{
    transition: .3s;
    font-weight: 600;
}

.footer .menu a:hover{
    color: #80b918;
    border-bottom: 1px solid #80b918;
}

.services-icons li,
.media-icons li{
    display: inline-block;
    margin: 0.5em 0.5em 0.5em 0;
}

.media-icons a{
    font-size: 1.1em;
    width: 2em;
    height: 2em;
    border: 1px #fff solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.media-icons a:hover{
    background: #fff;
    color: #111;
}

.services-icons a{
    font-size: 1.5em;
}

.service-iconss a:hover{
    color: #dbdbdb;
}

.input-wrap{
    margin: 1em 0;
    display: flex;
    border: none;
    background: #20232a;
    color: #ccc;
}

.input-wrap input:focus{
    outline: none;
}

.input-wrap button{
    padding: .8em;
    background-color: #80b918;
    border: none;
    outline: none;
    color: #fff;
    transition: .5s;
}

.input-wrap button:hover{
    background: #2f9300;
}

.copy{
    width: 100%;
    text-align: center;
    margin-top: 1vw;
    transition: .5s;
}

.copy:hover{
    color: #80b918;
    user-select: none;
}

.info{
    text-align: center;
}

@media screen and (max-width: 900px) {
    .footer .container2{
        flex-direction: column;
        justify-content: center;
        align-items: center;


    }
    .input-wrap{
        max-width: 100px;
    }

    .menu p{
        text-align: center;
    }
}





