:root{
    --orange-one-color : #ff6d00;
    --orange-two-color: #ff7900;
    --orange-three-color:#ff8500;
    --orange-four-color:#ff9100;
    --orange-five-color:#ff9e00;
    --purple-one-color: #240046;
    --purple-two-color: #3c096c;
    --purple-three-color: #5a189a;
    --purple-four-color: #7b2cbf;
    --purple-five-color: #9d4edd;
    --card-box-shadow: rgba(0, 0, 0, 0.449) 0px 5px 8px;

    --malachite: #39d05cff;
    --malachite-2: #35e95fff;
    --emerald: #35d475ff;
    --mint: #35ac7aff;
    --teal: #347f83ff;
    --yinmn-blue: #2e518aff;
    --tekhelet: #40288fff;
    --indigo: #5702a1ff;
    --grape: #6500a3ff;
    --french-violet: #8127b9ff;
}

*{
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
body{
    height: 100vh;
    width: 100%;
    background-color: #f8f9fa;
    overflow-x: hidden;
}

header{
    display: flex;
    background-color: #10002b;
    height: 5vw;
    min-height: 70px;
    width: 100%;
    box-shadow: var(--card-box-shadow);
    position: sticky;
    z-index: 1;
    top: 0;
    left: 0;
    opacity: .95;
}
/* Adicionei a imagem de fundo do article e tbm coloquei um testo */
article{
    background-color: rgba(128, 128, 128, 0);
    height: 43.5vw; 
    display: flex;
    justify-content: center;
    align-items: center;
}
article img{
    width: 100%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
article div{
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: left;
    justify-content: space-around;
    height: 90%;
    width: 90%;

}
article > div > h1{
    font-size: 8vh;    
    color: rgb(255, 255, 255);
    text-shadow: var(--emerald) 0.4vh 0.4vh 2vh;
    text-decoration: dotted;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
}


.logo{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
}
.logo > img{
    border-radius: 0px;
    height: 8vh;
}

.menu{
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    padding-right: 20px;
}

.image{
    border-radius: 10vh;
    height: 140%;
}

.btn{
    cursor: pointer;
    width: 15%;
    height: 50%;
    text-align: center;
    justify-content: center;
    display: flex;
    border-radius: 1vh;
    align-items: center;
    background-color:var(--orange-one-color);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 28px, rgba(0, 0, 0, 0.22) 5px 5px 8px;
    transition: all .5s;
}

.btn:hover{
    transform: translateX(1px) translateY(1px);
    box-shadow: none;
    background-color: var(--green-dark-color);
}

.containers{
    width: 95%;
    height: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    box-shadow: var(--card-box-shadow);
}

.container1, .container2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 100px;
    width: 95%;
    height: 50%;
}

.container1, .container2 p{
    font-size: 1.3vw;
}

.text{
    width: 30%;
    height: 40%;
    font-size: 80px;
}

.box{
    width: 25%;
    height: 80%;
}

.box img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.quadros{
    width: 95%;
    height: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.quadro{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    height: 100%;
    gap: 20px;
    background-color: #10002b;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.circle{
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    min-width: 60px;
    /* min-height: 70px; */
    height: 23%;
    border-radius: 50%;
}
.circle img{
    border-radius: 50%;
    width: 18vw;
}

.texto{
    border-radius: 10px;
    gap: 20px;
    background-color: #10002b;
    width: 95%;
    height: 50%;
    /* box-shadow: inset rgba(0, 0, 0, 0.24) 0px 0px 20px -12px;  */
    /*box-shadow: inset rgba(60, 70, 85, 0.5) 0px 0px 15px 0px, rgba(0, 0, 0, .3) 0px 30px 50px -12px;*/
    display: flex;
    gap: 7rem;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 10px;
}

.texto h3 {
    text-align: justify;
    font-size: 150%;
    color: #fff;
}

.texto h1{
    color: var(--orange-five-color);
    font-size: 60px;
    margin-top: 10%;
}
.title{

    padding: 40px 0 0 0;
}
.grafico{
    display: flex;
    justify-content: center;
    width: 20%;
    height: 5vh;
}

.titulo h1{
    font-size: 60px;
}
#chartdiv {
    width: 95%;
    height: 30vw;
  }

  .footer ul{
    list-style: none;
}

.footer{
    background-color: #10002b;
    color: #fff;
}

.footer p{
    color: #fff;
    max-width: 25em;
    font-size: 0.9em;
    line-height: 23px;
}

.footer a{
    color: #fff;
    text-decoration: none;
}


.footer .container2{
    width: 100%;
    display: flex;
    margin: 0;
    padding: 2em;
    justify-content: space-between;
    gap: 2em;
}

.brand{
    display: block;
    font-size: 1.8em;
    font-weight: 600;
    margin-bottom: 1em;
}

.footer .menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 14px;
}

.footer .menu li{
    text-align: center;
    margin: 0 0.7em 0.7em 0;
    display: inline-block;
}

.footer .menu a{
    transition: .3s;
    font-weight: 600;
}

.footer .menu a:hover{
    color: var(--orange-one-color);
    border-bottom: 1px solid var(--orange-one-color);
}

.services-icons li,
.media-icons li{
    display: inline-block;
    margin: 0.5em 0.5em 0.5em 0;
}

.media-icons a{
    font-size: 1.1em;
    width: 2em;
    height: 2em;
    border: 1px #fff solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.media-icons a:hover{
    background: #fff;
    color: #111;
}

.services-icons a{
    font-size: 1.5em;
}

.service-iconss a:hover{
    color: #dbdbdb;
}

.input-wrap{
    margin: 1em 0;
    display: flex;
    border: none;
    background: #20232a;
    color: white;
}

.input-wrap input:focus{
    outline: none;
}

.input-wrap button{
    padding: .8em;
    background-color: var(--orange-five-color);
    border: none;
    outline: none;
    color: #fff;
    transition: .5s;
}

.input-wrap button:hover{
    background:var(--orange-one-color);
}

.copy{
    width: 100%;
    text-align: center;
    margin-top: 1vw;
    transition: .5s;
}

.copy:hover{
    color: var(--orange-five-color);
    user-select: none;
}

.info{
    text-align: center;
}

@media screen and (max-width: 900px) {
    .footer .container2{
        flex-direction: column;
        justify-content: center;
        align-items: center;


    }
    .input-wrap{
        max-width: 100px;
    }

    .menu p{
        text-align: center;
    }
}

.btn-whatsapp {
    position: fixed;
    bottom: 14px;
    right: 14px;
    z-index: 99;
  }
  .btn-whatsapp img {
    cursor: pointer;
    max-width: 54px;
    transition: 0.5s all;
  }
  .btn-whatsapp img:hover {
    transform: scale(1.1);
  }
  
  .btn-whatsapp .tootip-text {
    visibility: hidden;
    position: absolute;
    width: 180px;
    top: 17px;
    left: -190px;
    padding: 4px;
    border-radius: 8px;
    text-align: center;
    background-color: #232224;
    color: #fff;
    opacity: 0;
    transition: opacity 0.5s;
    font-size: 15px;
  }
  
  .btn-whatsapp:hover .tootip-text {
    visibility: visible;
    opacity: 1;
  }



